 body{
    font-family: 'PT Serif', serif;
 }
 .bg-aqua{
    background-color: #C4E2FF;
}

.border-bottom-dark{
    border-bottom: rgba(41, 41, 41, 1) 1px solid;
    
}
.bg-img-med{
    background-image: url(https://miro.medium.com/max/436/4*BIK9VGjeCj2TaTDw4id2nA.png);
    background-repeat: no-repeat;
    background-position:right bottom;
    
}

.footer-links>a{
    margin-left: 10px;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
}

.aside-btn>li{
    margin-bottom: 10px;
}
.media{
    margin-bottom: 10px;
}




